body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif!important;
}
html::-webkit-scrollbar {
		width: 0px;
		background: transparent;
}
html::-webkit-scrollbar-thumb {
		background: transparent;
}
*{
	outline: none !important;
}
.no-select {
	-webkit-touch-callout: none !important;
		-webkit-user-select: none !important; 
			-khtml-user-select: none !important;
				-moz-user-select: none !important; 
				-ms-user-select: none !important;
						user-select: none !important;
}
:root {
	--background: rgba(207, 224, 235, 0.5) !important;
	--black: #212A39 !important;
	--blue : #255CA8 !important;
	--light-black: rgba(33, 42, 57, 0.75) !important;
	--red: #E94B35 !important;
	--ff-SourceSansPro : 'Source Sans Pro', sans-serif !important;
	--drawerwidth: 340px;
}

.float-right{
	float: right !important;
}
.float-left{
	float: left !important;
}
.dis-inline-block{
	display: inline-block !important;
}
.dis-flex{
	display: flex !important;
}
.dis-none{
	display: none !important;
}
.width-50{
	width: 50% !important;
}
.width-100{
	width: 100% !important;
}
.dis-block{
	display: block !important;
}
.text-align-left{
	text-align: left !important;
}
.text-align-right{
	text-align: right !important;
}
.text-align-center{
	text-align: center !important;
}
.black-txt{
	color: var(--black) !important;
}
.gray-txt{
	color: var(--light-black) !important;
}
.blue-txt{
	color: var(--blue) !important;
}

.font-20{
	font-size: 20px;
	color: var(--black);
}

.font-16{
	font-size: 16px;
	color: var(--black);
}

.text-ellipsis{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.center-all{
  display:flex !important;
  justify-content:center !important;
  align-items:center !important;
}

.center-vertical{
	display:flex !important;
	align-items:center !important;
}

.cursor-pointer{
	cursor: pointer;
}
  
.no-padding{
  padding: 0 !important;
}

.no-margin{
  margin: 0 !important;
}

.show-sm-992{
	display: none;
}

.show-sm-576{
	display: none;
}

/* Loader */
.visible-loader {
	background:url('../assests/loader.svg') center no-repeat;
	display:inline-block;
	font-size:0;height:100%;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:9999;
	background-color: rgba(255,255,255,0.6)
}

/* Alert */

.error-popover{
	width: 285px;
	padding: 12px;
	height: max-content;
	position: fixed;
	background: #fff;
	z-index: 1700;
	bottom:30px;
	left:24px;
	display: flex;
	transition: all 0.4s ease; 
	-webkit-transition: all 0.4s ease ;
	border: 0.5px solid rgb(231, 231, 231);
	box-shadow: 0 3px 10px 0px rgba(109, 121, 190, 0.315);
	border-radius: 4px;
  }
  @media only screen and (max-width: 768px) {
  .error-popover{
	margin-left: -12px;
	margin-bottom: 35px;   
  }
  }
  .error-popover .close{
  width: 20px;
  }
  .error-popover .ep-icon-container{
  width: 30px;
  }
  .error-popover .ep-content{
  width: calc(100% - 50px);
  }
  .error-popover .ep-msg{
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  align-items: center;
  margin: 0;
  }
  .error-popover .ep-heading{
  margin:0;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  font-weight: 600;
  }
  .error-popover .close-img{
  width: 10px;
  cursor:pointer;
  height: 10px;
  }
  .error-popover .icon{
  width: 15px;
  height: 15px;
  margin-left: 8px;
  }
  .hide-error-popover{
  margin-left:calc( -285px - 24px);
  }
  
/* Main Body(Siderbars) */

.dashboard-container{
	width: 100%;
	margin: 0 auto;
	position: relative;
}


@media (min-width: 576px) {
	.dashboard-container {
		max-width: 100%;
	}
}

@media (min-width: 768px) {
	.dashboard-container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.dashboard-container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.dashboard-container {
		max-width: 85%;
	}
}

@media (min-width: 1788px) {
	.dashboard-container {
		padding-right: 132px;
		padding-left: 132px;
	}

	.hm-pg-header-right {
		right: 132px;
	}
}

.main-body{
	background-color: #4b4b4b;
	font-family: 'Source Sans Pro', sans-serif!important;
	min-height: calc(100vh);
}


.navbar-contaniner{
	background-color: #000000;
	height: 64px;
	font-weight: 500;
	font-size: 18px;
	color: #ffffff;
}

.navbar-text{
	color: var(--black);
	font-weight: 700;
	text-align: center;
	font-size: 24px;
}

/* Navigation Menu */
.navigation-menu-img{
	margin-left: 40px;
	margin-right: 10px;
}

.navigation-align-right{
	display: flex;
    justify-content: flex-end;
}

.navigation-menu-img-right{
	margin-left: 24px;
	margin-right: 8px;
}

.user-data-container{
	margin: 40px 0px;
	background-color: #ffffff;
	border-radius: 4px;
}


.user-top-section{
	padding: 16px 16px 16px 40px;	
}

.user-text-style{
	font-size: 28px;
	margin-left: 12px;
	color: rgb(55, 59, 66);
    font-weight: 300;
}

/* Add modal css */
.modal-add-user-title{
	
	margin-bottom:  35px;
	padding: 16px 40px!important;
	border: 0.75px solid rgba(33, 42, 57, 0.15);
}

.modal-add-user-txt{
    color: #212A39;
    font-family: 'Source Sans Pro', sans-serif!important;
    font-size: 20px!important;
    font-weight: 600!important;
    line-height: 24px!important;
}

.modal-close-icon{
	float: right;
    position:  absolute;
    right:10px;
    top : 20px;
	cursor: pointer;
	margin-right: 30px;
    color: rgb(177, 177, 177);
}

.modal-dialog-content{
	padding: 40px!important;
}

.modal-dialog-content .MuiTypography-body1{
    color: #212A39;
    font-family: 'Source Sans Pro', sans-serif!important;
    font-size: 18px!important;
    line-height: 22px!important;
}

.modal-radio-control{
    border: 0 !important;
	background-color: rgba(0,0,0,0) !important;
}

 .MuiDialog-paperWidthSm {
	max-width: 500px!important;
}

.modal-input-field{
	padding:16px;
	color: #212A39;
	font-size: 16px!important;
	border-radius: 4px;
	background-color: #FFFFFF;
    border: 1px solid rgba(33, 42, 57, 0.25);
    border-radius: 4px;
    width: 100%;
    color: #212A39;
    font-weight: 400;
    line-height: 19px;
	text-align: left;
	margin-bottom: 16px;
}

.modal-dialog-content .MuiFormGroup-root {
    display: initial;
    flex-wrap: wrap;
    flex-direction: column;
}

.add-user-btn{
	width: 142px;
	background-color: #eba308f6;
	font-size: 16px;
	border-radius: 4px;
	border: none;
	color: #ffffff;
	padding: 8px 20px;
	cursor: pointer;
	transition: all 0.5s;
}

.modal-add-user-btn{
	width: 100%;
	background-color: #eba308f6;
	font-size: 16px;
	border-radius: 4px;
	border: none;
	color: #ffffff;
	padding: 8px 20px;
	cursor: pointer;
	transition: all 0.5s;
}

.modal-add-user-btn:hover .add-user-btn:hover{
	opacity: 0.8;
}

.status-dropdown{
	border: 0.5px solid rgba(33, 42, 57, 0.25);
	border-radius: 4px;
	width: 100%;
	padding: 8px 16px ;
}

.modal-dialog-content  .MuiInput-underline:before {
	border-bottom: none!important;
}

.edit-btn{
	background-color: transparent;
	border: none;
	cursor: pointer;
}


.delete-btn{
	background-color: transparent;
	border: none;
	cursor: pointer;
	
}

.delete-icon-style{
	width: 32px;
	height: 32px;
}

/* table css */
.paper {
    width: '100%';
    overflow-x: auto;
}

.table {
	border-bottom-left-radius: 4px;
	margin-bottom: 0px!important;
}

.table-cell-heading{
	width	:240px; 
	word-break: 'break-all';
	font-weight: 600!important;
	padding-left: 40px!important;
}

.table-cell{
	width :240px; 
	word-break: 'break-all';
	padding-left: 40px!important;
}

.table-cell-data{
	max-width: 240px;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

/* delete modal */
.delete-modal-btn{
    font-family: 'Source Sans Pro', sans-serif!important;
    font-size: 20px;
    font-weight: 500;
	line-height: 24px;
	margin-top: 14px!important;
	cursor: pointer;
}

.delete-modal-btn:hover{
    opacity: 0.6;
    color: rgba(33, 42, 57, 0.5);
    transition: all 0.5s;
}

.delete-modal-vertical-line{
    font-size: 40px;
    border: 0.75 solid rgba(33, 42, 57, 0.25);
    color: rgba(33, 42, 57, 0.25);
}

.search-bar-container{
	border: 0.5px solid rgba(33, 42, 57, 0.25);
	padding: 4px 16px;
	margin-right: 20px;
	border-radius: 4px;
	/* width: 240px; */
}

.search-bar-container .MuiIconButton-root{
	padding : 0px!important;
}

.search-bar-container .MuiInputBase-input{
	width: 290px!important;
	padding-top: 8px!important;
	font-size: 14px!important;
}

@media only screen and (max-width: 1050px){
	.table-cell-heading{
		width	: 160px; 
		word-break: 'break-all';
		font-weight: 600!important;
		padding-left: 10px!important;
	}
	
	.table-cell{
		padding-left: 10px!important;
		width: 160px;	
	}

	.table-cell-data{
		width	:160px; 
	}
}

@media only screen and (max-width: 992px){
	.hide-sm-992{
		display: none;
	}
	.show-sm-992{
		display: initial;
	}

	.search-bar-container .MuiInputBase-input{
		width: auto!important;
	}
	
}

@media only screen and (max-width: 768px){
	/* .navbar-contaniner{
		height: auto;
	} */

	.dashboard-container {
		padding: 0px 40px;
	}

	.add-user-btn{
		width: auto;
		padding: 4px 12px;

	}
	.user-top-section{
		padding: 16px;
	}

	.modal-dialog-content{
		padding: 40px 16px !important;
	}

	.modal-add-user-title {
		padding: 16px!important;
	}

	.modal-close-icon{
		margin-right: 0px!important;
	}

	.search-bar-container{
		padding: 4px 12px;
	}
}

@media only screen and (max-width: 576px){
	.dashboard-container {
		padding: 0px 16px;
	}

	.align-sm-center{
		justify-content: center;
		margin-bottom: 12px!important;
	}

	.show-sm-576{
		display: block;
	}

	.hide-sm-576{
		display: none;
	}
	.search-bar-container .MuiInputBase-root{
		width: 190px;
	}

	.search-bar-container{
		margin-right: 0px;
	}
	.add-user-btn{
		padding: 8px 8px;
	}
}

@media only screen and (max-width: 465px){
	.search-bar-container .MuiInputBase-root{
		width: 170px;
	}	
}

@media only screen and (max-width: 440px){
	.search-bar-container .MuiInputBase-root{
		width: 160px;
	}	
}


@media only screen and (max-width: 412px){
	.search-bar-container .MuiInputBase-root{
		width: 150px;
	}	
}

@media only screen and (max-width: 396px){
	.search-bar-container .MuiInputBase-root{
		width: 140px;
	}	
}

@media only screen and (max-width: 380px){
	.search-bar-container .MuiInputBase-root{
		width: 130px;
	}	
}

@media only screen and (max-width: 362px){
	.search-bar-container .MuiInputBase-root{
		width: 110px;
	}
	.search-bar-container{
		padding: 4px 8px;
	}
	
}


